/* Navbar Component Style */

.navbar-container{
    background-color: #061551;
    height: 70px;
}

.nav-link:hover{
    color: #fff !important;
    text-decoration: none;
}

.nav-link:active{
    transform: scale(0.94);
}

.auth-btn{
    border: none;
    background-color: #5a33e9;
    color: #fff;
    border-radius: 2px;
    margin: 0 0.5em;
}

.auth-btn:hover{
    background-color: white;
    color: #854dff;
}

.auth-btn:active {
	transform: scale(0.95);
}

/* Cover Component Style */
.parent{
    position: relative;
    width: 100vw;
    height: 150vh;
}

.cover-outer{
    position: absolute !important;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    margin: auto;
    padding-top: 130px;
    text-align: center;
    color: #fff;
    /* background:linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('Components/icons/backImage.jpg'); */
    background:linear-gradient(0deg, rgba(7, 1, 32, 0.8), rgba(7, 1, 32, 0.8)), url('Components/icons/backImage.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.cover-inner{
    width: 60%;
    margin: auto;
}

.cover-title{
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.cover-subtitle{
    font-size: 18px;
}

.cover-btn{
    text-align: center;
    font-weight: 600;
    width: 30%;
    border-radius: 40px;
    background-color: #5a33e9;
    color: #fff;
}

.cover-btn:hover{
    background-color: #fff;
    color: #854dff;
}

.cover-btn:active {
	transform: scale(0.95);
}

/* Carousel Component Style */
.carousel{
    position: absolute !important;
    top: 0;
    left: 0;
    width: 60%;
    height: 60%;
    margin-left: 272px;
    margin-top: 550px;
}

.carousel-inner{
    width: 100%;
    height: 100%;
    margin: auto;
    border-radius: 10px;
}

.c-btn-l{
    margin-top: 700px;
    margin-left: 100px;
}

.c-btn-r{
    margin-top: 700px;
    margin-right: 100px;
}

/* Feature Component style */
.feat{
    margin-top: 200px;
}

.feature-item{
    max-width: 21rem;
}

.feature-title{
    text-align: center;
    color: #854dff;
    font-weight: bold;
}

.feature-text{
    text-align: justify;
}

/* Hero Component Style */
.hero-wrapper{
    background-color: rgb(214, 234, 252);
}

.hero-container{
    width: 60%;
}

.hero-title{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}

.hero-subtitle{
    font-weight: 500;
}

.hero-img{
    width: 492px;
    height: 317px;
}

.hero-text{
    font-size: medium;
}


/* Footer Component style */
.footer-container{
    background-color: #061551;
}